<div class="container">
	<div infinite-scroll='ctl.ne.nextNarrations()' infinite-scroll-disabled='busy' infinite-scroll-distance='1'>
	  	<div ng-repeat="narration in ctl.ne.narrations">
	  		<div class="row">
      			<div class="wls-narration-row" data-ng-click="ctl.fetchNarration(narration._id)">
			        	<div class="u-pull-left">
			        		<img src="images/ebwhite.jpg">
		        		</div>
		        		<div ng-bind="narration.title" class="u-pull-right"></div>
	        	</div><!-- wls-narration-row -->
	     	</div>
    	</div>
	</div>
	  <div ng-show='ne.busy'>
        <i class="fa fa-cloud-download fa-lg"></i>
	  </div>
</div>