<div class="container">
    <div class="row">
      <div class="u-pull-left">
        <b>{{ctl.cn.title}}</b>
        <p>{{ctl.cn.date | date: 'longDate'}}
        <div ng-switch on="ctl.cn.category">
          <div ng-switch-when="metro" >
            <i class="fa fa-building-o fa-lg wls-icon "></i>
          </div>
          <div ng-switch-when="business">
            <i class="fa fa-bar-chart fa-lg wls-icon"></i>
          </div>
          <div ng-switch-when="books">
            <i class="fa fa-book fa-lg wls-icon"></i>
          </div>
          <div ng-switch-when="ideas">
            <i class="fa fa-lightbulb-o fa-lg wls-icon"></i>
          </div>
        </div>
      </div>
      <div class="twelve columns">
        <!--
        <div class="u-pull-left wls-narration" ng-bind-html="ctl.markup">
        -->
        <div class="u-pull-left wls-narration">
          <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=wls1-20&marketplace=amazon&region=US&placement=B004KZP0WY&asins=B004KZP0WY&linkId=YJUJ24KK4Y7KG2SZ&show_border=true&link_opens_in_new_window=true">
          </iframe>
        </div>
      </div>
    </div> 
</div>