.home-link,
.wls-click,
.wls-row,
.wls-row-container,
.nav,
a {
  cursor: pointer;
}
.home-link {
  color: #4173dd;
  background-color: #ffffff;
}
header {
  font-family: 'Noto Sans', sans-serif;
  font-size: 250%;
  font-weight: 200;
  text-align: center;
  color: #000000;
  margin-top: .2em;
}
header a:link,
header a:hover,
header a:visited,
header a:active {
  color: #000000;
  text-decoration: none;
}
body {
  text-align: center;
  color: #000000;
}
img {
  max-width: 100%;
  height: auto;
}
.wls-button-panel {
  margin-top: 1.5em;
  margin-bottom: 2em;
}
.wls-icon {
  color: #000000;
}
.wls-row-icon {
  color: #ffffff;
  padding: 1em;
}
@media (max-width: 375px) {
  .wls-icon,
  .wls-row-icon {
    margin-right: .5em;
    margin-left: .5em;
  }
}
@media (min-width: 400px) {
  .wls-icon,
  .wls-row-icon {
    margin-right: 1em;
    margin-left: 1em;
  }
}
.wls-row {
  text-align: center;
}
.wls-row:after {
  content: "";
  display: table;
  clear: both;
}
.wls-narration-row {
  color: #ffffff;
  background-color: #4173dd;
  font-size: 150%;
  max-width: 80%;
  height: 4em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: left;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  border-radius: 2em;
  padding: 2em;
}
.wls-narration {
  margin-top: 1em;
  text-align: left;
}
.show-icon {
  display: inline;
}
.hide-icon {
  display: none;
}
