.home-link,
.wls-click,
.wls-row,
.wls-narration-row,
.wls-row-container,
.nav,
a {
  cursor: pointer;
}
.home-link {
  color: #000000;
  background-color: #ffffff;
}
header {
  font-family: 'Noto Sans', sans-serif;
  font-size: 250%;
  font-weight: 200;
  text-align: center;
  color: #000000;
  margin-top: .2em;
}
header a:link,
header a:hover,
header a:visited,
header a:active {
  color: #000000;
  text-decoration: none;
}
body {
  text-align: center;
  color: #000000;
}
img {
  max-width: 100%;
  height: auto;
}
.wls-button-panel {
  margin-top: 1.5em;
  margin-bottom: 2em;
}
.wls-icon {
  color: #000000;
}
.wls-row-icon {
  position: relative;
  display: block;
  color: #ffffff;
  z-index: 99;
  margin-top: .5em;
  margin-left: .5em;
}
@media (max-width: 375px) {
  .wls-icon {
    margin-right: .5em;
    margin-left: .5em;
  }
}
@media (min-width: 400px) {
  .wls-icon {
    margin-right: 1em;
    margin-left: 1em;
  }
}
.wls-row {
  text-align: center;
}
.wls-row:after {
  content: "";
  display: table;
  clear: both;
}
.wls-narration-row {
  color: #000000;
  background-color: #ffffff;
  opacity: 1.0;
  font-size: 125%;
  font-weight: normal;
  max-width: 80%;
  height: 8em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 0;
  /*
    -moz-border-radius:.6em;
    -webkit-border-radius:.6em;
    border-radius:.6em;
    */
  border-top: .1em solid grey;
  border-left: .1em solid grey;
  border-right: .1em solid grey;
  border-bottom: .4em solid grey;
  padding: .2em .5em 0 .5em;
  z-index: -1;
}
.wls-narration {
  margin-top: 1em;
  text-align: left;
}
.show-icon {
  display: inline;
}
.hide-icon {
  display: none;
}
#map {
  width: 15em;
  height: 12em;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}
